* {
    color-cultured: #f2f2f2;
    color-black: #000b0f;
    color-platinum: #e7eaeb;
    color-midnight: #003a4c;
    color-sapphire: #004d6a;
    color-red: #d7504d;
    color-yellow: #e8e2b7;
}

.background {
    -fx-background-color: color-cultured;
}

.popup {
    -fx-background-color: color-sapphire;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-max-height: 200em;
    -fx-max-width: 300em;
}

.popup .label {
    -fx-text-fill: color-platinum;
    -fx-max-width: Infinity;
    -fx-alignment: center;
    -fx-font-size: 15px;
}



.popup .button {
    -fx-background-color: color-platinum;
    -fx-text-fill: color-midnight;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-max-width: Infinity;
}

.popup .button:hover {
    -fx-background-color: color-yellow;
}

.popup .exit {
    -fx-text-fill: color-red;
    -fx-background-color: color-platinum;
}

.popup .exit:hover {
    -fx-background-color: color-red;
    -fx-text-fill: color-platinum;
}



